<!DOCTYPE html>
<html>
<head>
    <title>JavaScript Test Page</title>
</head>
<body>
    <h1>JavaScript Test Page</h1>
    
    <button onclick="alert('TEST ALERT WORKS!')">Test Alert Button</button>
    
    <script>
        console.log('Script tag executed successfully');
        alert('Page loaded with JavaScript working!');
    </script>
    
    <p>If you see an alert and the button works, JavaScript is functional.</p>
</body>
</html>